body {
    margin: auto; /* center in viewport */
    width: 960px;
}

#hd, #ft {
    height: 40px;
    margin-top: 40px;
}

.yui3-g .content {
    border: 2px solid #000;
    margin-right:10px; /* "column" gutters */
    padding: 1em;
}

.auction {
    border-bottom: 2px solid black;
}

.bid {
    width: 100%;
}

.tokens {
    margin-left: 5px;
    height: 20px;
    float: right;
    border: 1px solid green;
    background-color: yellow;
    color: black;
}

