body {
    margin: auto; /* center in viewport */
    width: 960px;
}

#hd, #ft {
    height: 40px;
    margin-top: 40px;
}

.yui3-g .content {
    border: 2px solid #000;
    margin-right:10px; /* "column" gutters */
    padding: 1em;
}

