.yui3-panel {
    outline: none;
}
.yui3-panel-content .yui3-widget-hd {
    font-weight: bold;
    font: 20px/1.231 arial,helvetica,clean,sans-serif;
}
.yui3-panel-content .yui3-widget-bd {
    padding: 15px;
}
.yui3-panel-content label {
    margin-right: 30px;
    font: 20px/1.231 arial,helvetica,clean,sans-serif;
}
.yui3-panel-content fieldset {
    border: none;
    padding: 0;
}
.yui3-panel-content input[type="password"] {
    border: none;
    border: 1px solid #ccc;
    padding: 3px 7px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 20px;
    width: 200px;
    heigth: 22px;
}

.yui3-panel-content input[type="text"] {
    border: none;
    border: 1px solid #ccc;
    padding: 3px 7px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 20px;
    width: 200px;
    heigth: 22px;
}

#errorPanel .yui3-widget-bd {
    color: red;
    font: 30px/1.231 arial,helvetica,clean,sans-serif;
}
